.btn {
  display: inline-block;
  padding: 20px 30px;
  background-color: transparent;
  cursor: pointer;
  color: #000;
  background-color: azure;
  font-family: inherit;
  border-radius: 5px;
  font-size: 24px;
}
